@model BTLLTQL.Models.DonHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DonHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNhanVien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IĐonHang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
