@model IEnumerable<BTLLTQL.Models.CuaHang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())
    {

    <p>

        @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />

    </p>

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDCuaHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenCuaHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChiNhanh)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDCuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenCuaHang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChiNhanh)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IDCuaHang }) |
                @Html.ActionLink("Details", "Details", new { id = item.IDCuaHang }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.IDCuaHang })
            </td>
        </tr>
    }

</table>
