@model IEnumerable<BTLLTQL.Models.NhanVien>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm())

    {

    <p>

        @Html.TextBox("SearchString") <input type="submit" value="Tìm kiếm" />

    </p>

}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IDNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenNhanVien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SĐT)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IDNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenNhanVien)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SĐT)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.IDNhanVien }) |
                    @Html.ActionLink("Details", "Details", new { id = item.IDNhanVien }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IDNhanVien })
                </td>
            </tr>
        }

    </table>
