@model IEnumerable<BTLLTQL.Models.DonGiaChi>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTienHang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IDDonHang)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TongTienHang)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDPhieuChi }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDPhieuChi }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDPhieuChi })
        </td>
    </tr>
}

</table>
