@model BTLLTQL.Models.PhieuThu

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>PhieuThu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IDKhachHang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDKhachHang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IDNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IDNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TongTien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongTien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IDPhieuThu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
